body{
   background-color: beige;
}
h1{
    color: #066163;
}
h3{
    color: #066163;
}
hr{
     border-style: none;
     border-top-style: dotted;
     border-color: grey;
     border-width: 5px;
     width: 5%;
    }
    img {
        height: 180px;
    }
